# <div aligh="center">![realazthat](./.github/logo-exported.svg)</div>

---

- 🖇️ [comfy-catapult](https://github.com/realazthat/comfy-catapult)
  Programmatically schedule ComfyUI workflows via the ComfyUI API.
- 🖇️
  [excalidraw-brute-export-cli](https://github.com/realazthat/excalidraw-brute-export-cli)
  💪🔨🎭 CLI to export Excalidraw diagrams to svg/png files, using
  playwright+firefox.
- 🖇️ [snipinator](https://github.com/realazthat/snipinator) 🤖💻🔧✂️📝📃 Embed
  code snippets in your README, from actual (testable) code. Keep your README
  up-to-date with the actual code, via CLI.
- 🖇️ [mdremotifier](https://github.com/realazthat/mdremotifier) Make markdown
  READMEs self contained for publication to sites other than GH.
- 🖇️ [mdreftidy](https://github.com/realazthat/mdreftidy) CLI to tidy
  ({renumber,move-to-bottom,sort,clean}) up {image,link} references for
  markdown. Generator for Barnes and Noble Press.
- 🖇️ [changeguard](https://github.com/realazthat/changeguard) CLI to check if
  your repository/directory files have changed over the span of a script.
- 🖇️ [corner-cases](https://github.com/realazthat/corner-cases) A library for
  reasoning about a cube, the faces, corners, and edges of a cube.
- 🖇️ [badger-badger](https://github.com/realazthat/badger-badger) Add a badge to
  a discord {user,server} profile picture.
- 🖇️ [coverator](https://github.com/realazthat/coverator) Cover Template
